<div *ngIf="news">
    <div>
    {{news.country}}
    {{news.category}}
    </div>

    <div>
    
        <ul>
            <li *ngFor="let article of news.articles">  
                {{article.title}}  
                {{article.author}}
                {{article.date}}
                {{article.description}}
                {{article.sourceName}}
                {{article.articleUrl}}
                {{article.imageUrl}}

            </li>
            
            
        </ul>
    </div>
</div>