<select [(ngModel)]="selectedCategory">
    <option *ngFor="let category of CATEGORIES">
        {{category}}
    </option>
</select>
<button (click)="changeCategory()">Change category</button>

<div *ngIf="news">
    <div>
    
    Country: {{news.country}}
    News Category: {{news.category}}
    </div>

    <div>    
        <ul>
            <li *ngFor="let article of news.articles">  
                {{article.title}}  
                {{article.author}}
                {{article.date}}
                {{article.description}}
                {{article.sourceName}}
                {{article.articleUrl}}
                {{article.imageUrl}}
            </li>
        </ul>
    </div>
</div>

